<footer class="footer">
  <div class="container f-container">
    <div class="f-wrap-logo">
      <div class="f-logo-list">
          <a class="f-logo" href="">yachtjet</a>
          <ul class="f-list">
            <li class="f-item"><a href="">About</a></li>
            <li class="f-item"><a href="">Yachts</a></li>
            <li class="f-item"><a href="">Reviews</a></li>
          </ul>
        </div>
          <ul class="social-icon">
            <li>
              <a class="social-icon-link" href="https://www.instagram.com/goitclub/" target="_blank">
                <svg class="social-icon-item" width="24" height="24">
                  <use href="/images/icons.svg#icon-insta"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="social-icon-link" href="https://www.youtube.com/c/GoIT" target="_blank">
                <svg class="social-icon-item" width="24" height="24">
                  <use href="/images/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="social-icon-link" href="https://www.facebook.com/goITclub/  " target="_blank">
                <svg class="social-icon-item" width="24" height="24">
                  <use href="/images/icons.svg#icon-fb"></use>
                </svg>
              </a>
            </li>
          </ul>
      </div>
      <h2 clas="f-title">
        No matter which yacht you choose, our experienced crew will ensure that your journey is smooth and enjoyable.
        </h2>
        <div class="f-items">
          <p class="adv-privacy advent">2023. Yacht Adventures</p>
          <p class="adv-privacy privacy">Privacy Police</p>
        </div>
      </h2>
    </div>
</footer>
