<div class="mobile-menu">
  <div class="container menu-container">

    <p class="logo-mobile" href="./index.html">
      yachtjet
    </p>
    <svg class="close-btn-icon" width="28" height="28">
      <use href="./img/icon.svg#icon-close-btn"></use>
    </svg>

  </div>

  <nav class="menu-button-nav">
    <ul class="menu-button-list">
      <li class="menu-button-item">
        <a class="menu-link current" href="#about">ABOUT</a>
      </li>
      <li class="'menu-button-item">
        <a class="menu-link" href="#yachts">YACHTS</a>
      </li>
      <li class="'menu-button-item">
        <a class="menu-link" href="#reviews">REVIEWS</a>
      </li>
      <li class="'menu-button-item">
        <a class="menu-link" href="#order">ORDER</a>
      </li>
    </ul>
  </nav>
  <address class="menu-social">
    <ul class="social-list">
      <li class="social-item">
        <a href="https://www.instagram.com/goitclub/" class="social-link">
          <svg class="social-icon" width="19" height="19">
            <use href="./img/icon.svg#icon-instagram" alt="Instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a href="https://www.youtube.com/c/GoIT" class="social-link">
          <svg class="social-icon" width="20" height="20">
            <use href="./img/icon.svg#icon-youtube" alt="YouTube"></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a href="https://www.facebook.com/goITclub/" class="social-link">
          <svg class="social-icon" width="20" height="20">
            <use href="./img/icon.svg#icon-facebook" alt="Facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </address>
</div>