.section {
}
.hero {
  background: url('../img/hero-m.png');
  background-repeat: no-repeat;
  background-position: center;

  /*header out of flow*/
  padding: 260px 0px 302px;
  /* width: 100%; */
  /* header in flow */
  /* padding: 0 0 302px; */
  /* padding-bottom: 302px; */
}
.container {
}
.hero-title {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 32px;

  /* line-height: 32px; */
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  margin-bottom: 24px;
}
.hero-desc {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 12px;

  /* line-height: 14px; */
  line-height: 1.16667;
  text-align: center;
  color: rgba(251, 251, 251, 0.7);
  margin-bottom: 38px;
}
.cta-btn {
  background: #1b414b;
  border-radius: 15px;
  padding: 14px 32px;
  width: 141px;
  height: 46px;
  display: block;
  margin: auto;

  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;

  line-height: 1.28; /* line-height: 18px; */
  letter-spacing: -0.02em;
  color: #fbfbfb;
  transition: background, color;
  transition-duration: 250ms;
}

.cta-btn:hover,
.cta-btn:focus {
  background: #fbfbfb;
  color: #1b414b;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1280px) {
}
