.mobile-menu {
  position: fixed;
  background-color: #0e1823;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.menu-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #fbfbfb;
  border-radius: 8px;
  width: 335px;
  height: 42px;
  background-color: #fbfbfb;
  margin-top: 16px;
  margin-bottom: 201px;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.logo-mobile {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: #1b414b;
}

.close-btn-icon {
  width: 28px;
  height: 28px;
  fill: #003d36;
  cursor: pointer;
}

.menu-button-nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  width: 284px;
  margin-left: auto;
  margin-right: auto;
}

.menu-link {
  background: rgba(27, 65, 75, 0.5);
  width: 100px;
  height: 44px;
  border-radius: 8px;
  text-align: center;
  transition: background-color 0.3s ease;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  text-transform: uppercase;
  color: #fbfbfb;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
}

.menu-link:hover {
  background-color: #1b414b;
}

.menu-social {
  margin-top: auto;
}

.social-list {
  margin-top: auto;
  margin-bottom: 20px;
  display: flex;
  gap: 8px;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  justify-content: center;
}

.social-icon {
  width: 24px;
  height: 24px;
  fill: #fbfbfb;
  transition: fill-opacity 0.3s ease;
}

.social-link:hover .social-icon {
  fill-opacity: 0.8;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}