.our-yachts-item:nth-child(2),
.our-yachts-item:nth-child(3) {
  display: none;
}

.our-yachts {
  display: flex;
  justify-content: center;
}

.our-yachts-list {
  margin-bottom: 40px;
}

.our-yachts-title {
  max-width: 319px;
  text-align: center;
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 40px;
}

.our-yachts-item {
  background-color: #fbfbfb;
  border-radius: 24px;
  max-width: 334px;
}

.yacht-image {
  padding: 16px 16px 0 16px;
}

.yacht-name {
  display: flex;
  padding: 32px;
  justify-content: space-between;
  align-items: center;
}

.yacht-name-p {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #1b414b;
}

.yacht-name-desc {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #040306;
  opacity: 0.4;
}

.yacht-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px 32px;
}

.yacht-detail-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #040306;
  opacity: 0.4;
}

.yacht-parameter {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.yacht-parameter-value {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.yacht-detail-value {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #040306;
}

.rent-yacht-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(251, 251, 251, 0.35);
  border-radius: 15px;
  font-weight: 500;
  font-size: 14px;
  min-width: 141px;
  min-height: 46px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  background-color: transparent;
}

.button-wrapper-our-yachts {
  text-align: center;
  margin-bottom: 80px;
}

@media screen and (min-width: 768px) {
  .our-yachts-item:nth-child(3) {
    display: none;
  }
  .our-yachts-item:nth-child(2) {
    display: block;
  }
  .our-yachts-item {
    flex-basis: calc((100% - 32px) / 2);
    max-width: 336px;
  }
  .our-yachts-title {
    font-size: 48px;
    max-width: 645px;
    margin: 0 auto 75px;
  }
  .our-yachts-list {
    display: flex;
    gap: 32px;
    margin-bottom: 50px;
  }
  .yacht-name-p {
    font-size: 16px;
    line-height: 1.2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 148px;
  }
  .yacht-name-desc {
    font-size: 13px;
    line-height: 1.18;
  }
  .button-wrapper-our-yachts {
    margin-bottom: 150px;
  }
  .rent-yacht-button {
    font-size: 18px;
    min-width: 179px;
    min-height: 52px;
    line-height: 1.1;
  }
}

@media screen and (min-width: 1280px) {
  .our-yachts-item:nth-child(2),
  .our-yachts-item:nth-child(3) {
    display: block;
  }

  .our-yachts-title {
    max-width: 714px;
    font-size: 48px;
    margin-bottom: 75px;
  }
  .our-yachts-item {
    flex-basis: calc((100% - 50px) / 3);
    max-width: 377px;
  }
  .our-yachts-list {
    gap: 25px;
  }
}

@media screen and (min-width: 1440px) {
  .our-yachts-item {
    flex-basis: calc((100% - 64px) / 3);
    max-width: 392px;
  }
  .our-yachts-list {
    gap: 32px;
  }
}
